
@{
    ViewBag.Title = "Upload Sticker";
}


<div class="page-header">
    <h1>
        e-Co Sticker
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Upload sticker
        </small>
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success"> <i class="fa fa-cloud-upload"></i> Upload</button>
    </div>
    <div class="col-xs-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        VIN No.
                    </th>
                    <th>
                        Car Model
                    </th>
                    <th>
                        #
                    </th>
                    <th>
                        Create
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#"> WSDDXQW512XXXX</a>
                    </td>
                    <td>
                        MG 3
                    </td>
                    <td>
                        20
                    </td>
                    <td>
                        Administrator<br/>
                        <small>28/06/2015 10:55:29</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#"> WSDDXQW512XXXX</a>
                    </td>
                    <td>
                        MG 5
                    </td>
                    <td>
                        20
                    </td>
                    <td>
                        Administrator<br />
                        <small>28/06/2015 10:55:29</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#"> WSDDXQW512XXXX</a>
                    </td>
                    <td>
                        MG 3
                    </td>
                    <td>
                        20
                    </td>
                    <td>
                        Administrator<br />
                        <small>28/06/2015 10:55:29</small>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>